@font-face {
    font-family: "Modern No 20";
    src: url("./fonts/Modern-No.-20.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Befindisa";
    src: url("./fonts/Befindisa.otf");
    font-weight: 400;
}