@import "./fonts.css";


/* General */

:root {
    --red: #d20117;
    --grey: rgba(25, 25, 25, 1);
}


body,
html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Scroll Bars */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
}

.section-heading {
    font-family: "Befindisa";
    letter-spacing: 2px;
    font-size: 80px;
    text-align: center;
}



/* LANDING SECTION  */

.landing-section {
    width: calc(100vw - 28px);
    height: 100vh;
    background-image: url("../assets/images/Sections/home-landing-section.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    top: 0;
    border: 10px solid white;
}

.logo {
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.logo h1 {
    margin: 0;
    font-size: 80px;
    font-family: "Befindisa";
    letter-spacing: 3px;
}

.logo>div {
    width: 30px;
    height: 2px;
    margin: 0 10px;
    background-color: black;
}

.landing-details {
    position: relative;
    top: 50%;
    left: 0;
    text-align: center;
    width: 40%;
    transform: translateY(-50%);
}

.landing-details h1 {
    margin: 0;
    font-family: "Befindisa";
    font-size: 80px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.landing-details h2 {
    margin: 0;
    font-family: "Modern No 20";
    margin-bottom: 50px;
    font-size: 30px;
}

.landing-details a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px 25px;
    font-family: "Modern No 20";
    letter-spacing: 2px;
    font-size: 22px;
    transition: 0.5s;
    border: 2px solid transparent;
}

.landing-details a:hover {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    ;
}






/* OVERVIEW SECTION */

.overview-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 30vh);
    padding: 0 7.5%;
    padding-bottom: 10%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.overview-grid>div {
    /* height: 30vh; */
    background-position: center center;
    background-size: cover;
    background-image: url("../assets/images/Sections/details-section.jpg");
    background-repeat: no-repeat;
    transition: 0.5s;
}

.overview-grid>div:hover {
    background-image: url("../assets/images/Overview-Grid/2.jpg");
    box-shadow: 6px 6px 4px #6b6b6b;
    transform: scale(1.01);
}

.overview-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none
}

.overview-cover:hover {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 40px;
}

.overview-cover:hover p{
    font-size: 38px;
}

.overview-grid>div p {
    font-family: "Modern No 20";
    color: white;
    font-size: 34px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.overview-grid>div:nth-child(3) {
    grid-area: 1/3/3/5;
}

.overview-grid>div:nth-child(4) {
    grid-area: 2/1/4/3;
}

.overview-grid>div:last-child{
    grid-area: 4/3/5/5;
}

/* Overview Grid Images */

.overview-grid>div:nth-child(1) {
    background-image: url("../assets/images/Overview-Grid/1-1.jpg");
}

.overview-grid>div:nth-child(1):hover {
    background-image: url("../assets/images/Overview-Grid/1-2.jpg");
}


.overview-grid>div:nth-child(2) {
    background-image: url("../assets/images/Overview-Grid/2-1.jpg");
}

.overview-grid>div:nth-child(2):hover {
    background-image: url("../assets/images/Overview-Grid/2-2.jpg");
}

.overview-grid>div:nth-child(3) {
    background-image: url("../assets/images/Overview-Grid/3-1.jpg");
}

.overview-grid>div:nth-child(3):hover {
    background-image: url("../assets/images/Overview-Grid/3-2.jpg");
}

.overview-grid>div:nth-child(4) {
    background-image: url("../assets/images/Overview-Grid/4-1.jpg");
}

.overview-grid>div:nth-child(4):hover {
    background-image: url("../assets/images/Overview-Grid/4-2.jpg");
}



/* WEDDING DETAILS SECTION */

.wedding-details {
    display: grid;
    grid-template-columns: 65% 35%;
    padding-bottom: 10%;
}

.wedding-details .section-heading {
    margin: 10px 0 0 0;
    font-size: 60px;
}

.wedding-details>div:nth-child(2) {
    background-image: url("../assets/images/Sections/details-section.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}

.wedding-details>div:nth-child(1) {
    position: relative;
}

.details-text {

    padding: 7.5% 0;
    text-align: center;
}

.details-text * {
    margin: 0;
}

.details-text h1 {
    font-family: "Modern No 20";
    color: var(--grey);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
}

.details-text h2 {
    font-family: "Befindisa";
    font-size: 36px;
    letter-spacing: 2px;
}

.details-text h3 {
    font-family: "Modern No 20";
    font-size: 26px;
    letter-spacing: 1px;
}

.details-text h4 {
    font-family: "Befindisa";
    font-size: 30px;
    letter-spacing: 1px;
    margin: 10px 0;
}

.details-text a {
    font-family: "Modern No 20";
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    border-color: black !important;
}

.details-text>div {
    width: 20%;
    height: 1px;
    background-color: var(--grey);
    margin: 20px auto;
}

.details-text .divider {
    width: 5%;
}




/* Story Section */

.story-section {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-bottom: 10%;
}

.story-section .section-heading{
    margin: 10px 0 0 0;
    font-size: 60px;
}

.story-section>div:nth-child(1) {
    background-image: url("../assets/images/Sections/story-section.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}

.story-text {
    padding: 5% 25%;
}

.story-text p {
    font-size: 19px;
    font-family: "Modern No 20";
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
}



/* VENUE SECTION */


.venue-section {
    display: grid;
    grid-template-columns: 65% 35%;
    padding-bottom: 10%;
}

.venue-section .section-heading {
    margin: 10px 0 0 0;
    font-size: 60px;
}

.venue-section>div:nth-child(2) {
    background-image: url("../assets/images/Sections/venue-section.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}

.venue-text {
    padding-bottom: 5%;
}

.venue-text p {
    font-size: 20px;
    font-family: "Modern No 20";
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 0 10%;
}

.venue-text>div {
    width: 20%;
    height: 1px;
    background-color: var(--grey);
    margin: 30px auto;
}

.venue-text h5 {
    font-family: "Modern No 20";
    text-align: center;
    letter-spacing: 2px;
    font-size: 22px;
}

.venue-text h1 {
    font-family: "Befindisa";
    letter-spacing: 2px;
    font-size: 50px;
    text-align: center;
}

.venue-text div:last-child {
    width: auto;
    height: auto;
    background-color: unset;
    text-align: center;
}

.venue-text a {
    border: 1px solid black;
    font-family: "Modern No 20";
    text-align: center;
    padding: 8px 20px;
    color: white;
    background-color: black;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.venue-text a:hover {
    background-color: transparent;
    color: black;
}



















/* STAY SECTION */

.stay-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 0 10%;
}

.stay-section {
    padding-bottom: 5%;
}

.stay-grid > div {
    height: 40vh;
    background-position: center;
    background-size: cover;
}

.stay-cover {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
}

.stay-cover>div {
    width: 20%;
    height: 1px;
    background-color: white;
}

.stay-grid > div:nth-child(1) {
    background-image: url("../assets/images/accommodation/rosemary.jpg");
}

.stay-grid > div:nth-child(2) {
    background-image: url("../assets/images/accommodation/guesthouse56.jpg");
}

.stay-grid > div:nth-child(3) {
    background-image: url("../assets/images/accommodation/silver-fig.jfif");
}

.stay-grid > div:nth-child(4) {
    background-image: url("../assets/images/accommodation/mooiplaatsie.jpg");
}